@font-face {
    font-family: TreasureMapDeadhand-yLA3;
    src: url(fonts/TreasureMapDeadhand-yLA3.ttf);
  }

body {
    font-family: TreasureMapDeadhand-yLA3;
    font-size: 1.5rem;
    text-align: center;
    background-image: url("./images/jakob-braun-RHltK9oYD7w-unsplash.jpg");
    background-size: cover;
}

.skull-logo {
    height: 220px;
}

/* .logo {
    width: 400px
} */

.game-intro {
    color: white;
}

h1 {
    font-weight: 100;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select-btn {
    background-color: white;
    margin: 20px;
}

.pirate {
    height: 85px;

}

#start-btn {
    font-family: TreasureMapDeadhand-yLA3;
    font-size: 1.8rem;
    color: white;
    height: 50px;
    width: 200px;
    background-color: black;
    border: none
}

#restart-btn {
    font-family: TreasureMapDeadhand-yLA3;
    font-size: 1.8rem;
    color: white;
    height: 50px;
    width: 200px;
    background-color: black;
    border: none;
    margin: auto;
}

#music-btn {
    font-family: TreasureMapDeadhand-yLA3;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
}

#game-board {
    display: flex;
    justify-content: center;
}

p {
    margin-top: 0.3em ;
    margin-bottom: 0.5em ;
  }

.credit-logo {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: white;
}